body{
    
    overflow-x: hidden;
    background-image:linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 1)), url("../../images/bg.jpg");
	background-size: cover;
	background-attachment:fixed;
    margin: 0;
    padding: 0;
}
.box1{
    background-color: aliceblue;
    width: 17em;
    height: fit-content;
    /* border-radius: 10px; */
    display: block;
    padding-bottom: 20px;
    position: sticky;
    top: 70px;
    border: solid black 1px;
}
.box1 h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
}
.box2 h2{
    position: relative;
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box1 img{
    width: 150px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-0%);
}
.box1 h5{
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
   
}
.box1 h3{
    padding-left: 20px;
    word-wrap: break-word;
    padding-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;

}
.box2{
    width: 35em;
    height: fit-content;
    background-color: aliceblue;
    /* margin-left: 0.5em; */
    /* border-radius: 10px; */
    padding-left: 8%;
    padding-top: 20px;
    padding-right: 8%;
    border: solid black 1px;
   
}
a.editspices{
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(59, 59, 59);
    /* border: 1px black solid; */
    text-decoration: none;
    width: 70px;
    margin: 20px;
    border-radius: 20px;
}
.par{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#save{
    display: block;
}
#edit{
    display: block;
    padding-bottom: 20px;
    
}
#change{
    display: none;
}
.box{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 70px;
   
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
input{
    width: 300px;
    margin: 10px;
}
label{
    margin: 10px;
    word-wrap: break-word;
}
button{
    background-color: black;
    color: aliceblue;
    width: fit-content;
    min-width: 100px;
    padding: 10px;
   position:relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   margin-top: 50px;

}

h5,h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* ---------- */
#form11{
    display: none;
    padding: 10px;
    margin: 10px;
    border: 1px black solid;
}
.addbut{
    width: 50px;
}

.box3{
    display: none;
    width: 20em;
    background-color: aliceblue;
    min-height: 20px;
    /* position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0%); */
    display:flex ;
    flex-direction:column ;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    padding: 10px;
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 2em;
    border-radius: 10px;
    padding: 20px;
}

/* #box3{
display: none;
} */
.box4{
    display: none;
    width: 20em;
    background-color: aliceblue;
    min-height: 20px;
    /* position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0%); */
    display:flex ;
    flex-direction:column ;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    padding: 10px;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
}
.container{
    margin: 20px;
}
.row{
    border: 1px white solid;
    padding: 20px;
    margin: 20px;
}
.viewpar{
    display: flex;
    
}
a.goback{
    color: rgb(0, 67, 44);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    /* border: 1px black solid; */
    text-decoration: none;
    width: 70px;
    border-radius: 30px;
}
h1{
    text-align: center;
    color: aliceblue;
}
h4{
    padding-left: 15px;
}
.viewtemp{
    background-color: rgb(255, 255, 255);
    display: flex;
    border-radius: 20px;
    width: 200px;
    height: 70px;
    justify-content:space-between;
    margin: 10px;
    text-align: center;
}
button.delete{
    background-color: rgba(250, 235, 215, 0);
    color: rgb(255, 0, 0);
    width: 0px;
    padding: 0px;
    position:initial;
    margin-top: 20px;
    border: 0px ;


  
  .navv{
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
   
  }
  .navbar{
    height: 70px;
    width: 100%;
    background-color: #000000;
    margin: -10;
    padding: -10;
    
  }
  #logo{
   padding-top: 25px;
   padding-left: 20px;
  }
  
  .navbar .nav-header{
    display: inline;
  }
  .navbar .nav-header .nav-logo{
    display: inline-block;
    margin-top: -7px;
  }
  .navbar .nav-links{
    display: inline;
    float: right;
    font-size: 18px;
    padding: 0px 0px 0px 0px;
  }
   
  
  .navbar .nav-links a{
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    color: white;
  }
  /* Hover effects */
  .navbar .nav-links a:hover{
    background-color: #00000025;
  }
   
  /* responsive navbar toggle button */
  .navbar #nav-check, .navbar .nav-btn{
    display: none;
  }


}
img.del{
    width: 20px;
}
form.formbut{
    display:flex ;
    flex-direction: column;
    justify-content:space-between;
    width: 20px;
    align-items: center;
}

@media screen and (max-width: 480px){
    html, body {
        max-width: 100%;
        overflow-x: hidden;
        }
    .box1{
        width: 100%;
        height: fit-content;
        padding-bottom: 20px;
        position: relative;
        top: 100%;
        left: 50%;
        transform: translate(-50%,0%);
        margin-bottom: 10px;
        
    }
    .box{
        display: flex;
        flex-direction: column;
        position: absolute;
        /* top: 100%;
        left: 50%;
        transform: translate(-50%,-30%); */
        margin-right: 10px;
    }

    .box2{
        width: 21em;
        height: fit-content;
    }
    .box2, .box3{

        background-color: aliceblue;
        position: relative;
        top: 100%;
        left: 50%;
        transform: translate(-50%,0%);
        border-radius: 10px;
        padding: 10px;
        margin: 0px;
        margin-bottom: 10px;
    }
    #form11{
        display: none;
        padding: 5px;
        margin: 3px;
        border: 1px black solid;
    }
    input{
        width: 300px;
        margin: 10px;
    }
    .box1 img{
        width: 150px;
        position: relative;
        top: 100%;
        left: 50%;
        transform: translate(-50%,0%); 
        
        margin-bottom: 0px;
    }

    #edit{
        
        padding-left: 10px;
        padding-right: 20px;
    }
    #edit h2{
       margin-left: 0px;
    }
    button{
        left: 50%;
    }
    .viewpar{
        flex-direction: column;
    }
}



