@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.blk:hover{
    transform: scale(.96);
    transition: 300ms;
   
}

.imgs{
    width: 250px;
    border: 1px solid rgba(240, 248, 255, 0.824);
    border-radius: 20px;
    height: 150px;
}
.imgs:hover{
    border: 4px solid rgba(89, 151, 204, 0.824);
    border-radius: 20prgba(23, 126, 216, 0.824)
    /* height: auto; */
}
body{
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;

    background-image: linear-gradient(rgba(0, 0, 0, 0.474), rgba(0, 0, 0, 1)),
    url("../../images/bg.webp");
}
h5{
    
    padding-top: 10px;

}
@media (max-width:400px){
h5{
    padding-bottom: 30px;
    padding-top: 8px;
}
#ts{
    padding-bottom: 0px;
}
}

/* --------------------------------BUS SERVICE------------------------------------------ */
.table{
    width: 900px;
    padding: 20px;
    color: aliceblue;
    font-size: 20px;
    /* border: 1px white solid; */
}
td{
    padding: 20px;
    background-color: rgb(112, 112, 112);
    z-index: -1;
    font-size: 18px;
}
th{
    padding: 20px;
    background-color: rgb(79, 77, 77);
    position: sticky;
    top: 160px;
    z-index: 111;
}
.containerr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
nav.head{
    width: 865px;
    text-align: center;
    height: 80px;
    color: aliceblue;
    position: sticky;
    top: 80px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    z-index: 112;
    background-color:rgba(1, 20, 33, 0.938) ;
}

.headng{
     font-family: 'Permanent Marker', cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }
  .navv{
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
  }
  .navbar{
    height: 70px;
    width: 100%;
    background-color: #00000025;
    
    
  }
  #logo{
   padding-top: 10px;
   padding-left: 10px;
  }
  
  .navbar .nav-header{
    display: inline;
  }
  .navbar .nav-header .nav-logo{
    display: inline-block;
    margin-top: -7px;
  }
  .navbar .nav-links{
    display: inline;
    float: right;
    font-size: 18px;
    padding: 0px 0px 0px 0px;
  }
   
  
  .navbar .nav-links a{
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    color: white;
  }
  /* Hover effects */
  .navbar .nav-links a:hover{
    background-color: #00000025;
  }
   
  /* responsive navbar toggle button */
  .navbar #nav-check, .navbar .nav-btn{
    display: none;
  }
@media (max-width:400px){

    .table,nav.head{
        padding: 1px;
        font-size: 12px;
        width: 90%;
        
    }
    nav.head{
        position: sticky;
        padding: 10px;
        top: 80px;
        width: 340px;
    }
    td{
        padding: 5px;
        background-color: rgb(112, 112, 112);
        font-size: 13px;
        width: 20px;
    }
    th{
        padding:15px;
        top: 160px;
    }
    nav.head h1{
        padding-top: 15px;
    }
    td a{
      margin: 2px;
      width: fit-content;
      max-width: 300px;
     display: flex;
      padding: 5px;
      text-align: left;
     word-break: break-all;
    }
    
}