body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.474), rgba(0, 0, 0, 1)),
    url("../../images/bg.jpg");
    font-family: poppins;
    font-size: 22px;
    background-size: cover;
    background-attachment:fixed;
}
img{
    width: 500px;
    max-width: 100%;
    height: auto;
    
}


