@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.474), rgba(0, 0, 0, 1)),
    url("../../images/bg.webp");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    /* background-color: aqua; */
}
/* body {
    background: #034b52 url(../../themes/images/bg.jpg) no-repeat center fixed;
} */

.LW{
    margin-top: 100px;
    padding-bottom: 20px;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
}
h1{
   
      text-align: center;
      
      color: rgb(250, 247, 247);
}
.card-head{
    background-color: #fefefedd;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px solid #fefefe;
    width: 22rem;
    height: 4rem;
    border-radius: 8px;
    margin-bottom: 10px;
}
.card-body{
    /* border: 3px  solid #fefefe; */
     width: 22rem;
    height: 14rem;
}
.mainb{
    border: 3px  solid #fefefe;
    border-radius: 20px 0px 0px 20px;
}
.cards{
    border: 2px solid rgba(217, 217, 217, 0.7);;
    background-color: rgba(217, 217, 217, 0.7);
    width: 20rem;
    height: 5rem;
    border-radius: 12px;
    
}
.parents{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.card-title{
    text-align: center;
    justify-content: center;
    padding: 8px;
}
.navv{
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
   
  }
  .navbar{
    height: 70px;
    width: 100%;
    background-color: #000000;
    margin: -10;
    padding: -10;
    
  }
  #logo{
   padding-top: 10px;
   padding-left: 10px;
  }
  
  .navbar .nav-header{
    display: inline;
  }
  .navbar .nav-header .nav-logo{
    display: inline-block;
    margin-top: -7px;
  }
  .navbar .nav-links{
    display: inline;
    float: right;
    font-size: 18px;
    padding: 0px 0px 0px 0px;
  }
   
  
  .navbar .nav-links a{
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    color: white;
  }
  /* Hover effects */
  .navbar .nav-links a:hover{
    background-color: #00000025;
  }
   
  /* responsive navbar toggle button */
  .navbar #nav-check, .navbar .nav-btn{
    display: none;
  }
@media (max-width: 480px) {
    .mainb{
        border: 3px  solid #fefefe;
        border-radius: 20px;
    }
  }
a{
    text-decoration: none;
}





/* view_localworkforce */

.parentv{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h5{
    padding: 10px;
    
}
.childv{
    height: fit-content;
    width: 400px;
    background-color: #fefefec2;
    padding-top: 70px;
    margin: 80px;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 20px;
    
}

.cnt{
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .bor{
    border:2px solid #fefefed0;
    border-radius: 15px;
} */
a{
    margin: 10%;
}
#atag{
    padding: 0px;
    text-decoration: none;
    margin: 20PX;
}
.childv img{
 width: 100%;
 height: auto;
 object-fit: contain;
 margin: -70px;
 padding-bottom: 80px;
 border-radius: 15px 15px;
 
 
}
 
     img.asd{
    width: 400px;
    height: 300px;
  }

@media (max-width: 480px) {
    .cnt{
        width: 100%;
        
    }
    .childv{
        
        width: 80%;
        padding-top: 10px;
        margin-top: 200px;
        padding-bottom: 10px;
        position: absolute;
        top: 40%;
        left: 30%;
        transform: translate(-50%,-50%);
        margin-bottom: 50px;
    }
    .parentv{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .bor{
        width: 100%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
     .childv>h5{
        font-size: 15px;
    }
    #atag{
        /* position: absolute;
        left: 20%;
        right: 20%;
        top: 63.5%; 
        color: #fefefec1;*/
        padding-top:0%;
    }
    .childv img{
        width: 100%;
        height: auto;
        object-fit: contain;
        
        margin: -10px;
        padding-bottom: 80px;
        border-radius: 15px 15px;
        
       } 
       img.asd{
        width: 300px;
        height: 300px;
      }

  }

 