
  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;

}
body{
  
  font-family: sans-serif;
  /* background-image: linear-gradient(180deg,rgb(174, 185, 193),rgb(83,105,118), rgb(24, 24, 27)); */
  /* background-image: linear-gradient(180deg,rgba(1, 20, 33, 0.876),rgba(2, 28, 43, 0.864), rgba(24, 24, 27, 0.872)); */
  /* background-image: linear-gradient(
    0deg,
    rgb(0, 0, 0),
    rgb(0, 0, 0) 90%
  ); */
  background-image:linear-gradient(rgba(0, 0, 0, 0.244), rgba(0, 0, 0, 1)), url("../../images/bg.webp");
  background-size: cover;
  background-attachment:fixed;
}
.body1{

  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(83, 105, 118, 0), rgba(0, 0, 0, 1)), url("../../images/bg.webp");
  background-size: cover;
  background-attachment:fixed;
  
  
}


header{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(83, 105, 118, 0), rgba(0, 0, 0, 1)), url("../../images/bg.webp");
  background-size: cover;
  background-attachment:fixed;
  z-index: 1111;

}
.btn1{
margin-top: 2rem;
margin-right: 2rem;
margin-left: 2rem;
}
@media (max-width:700px){
.btn1{
  margin-top: 1rem;
  margin-right: .1rem;
  margin-left: .1rem;
  
}
.sig{
  font-size: medium;
}

}



.logo{
  position: fixed;
  float: left;
  margin: -10px 36px;
  
}

nav.scrolled-down{
  background-color: #0000009f;

}


nav{
  position: fixed;
  width: 100%;
  background-color:rgba(0,0,0,0.3);
}
nav ul{
  list-style: none;
  background:rgba(0,0,0,0);
  overflow: hidden;
  color: white;
  padding: 0;
  text-align:right;
  margin: 0;
  transition: 1s;
}
nav.black ul{
  background: #000;

}
nav ul li{
  display:inline-block;
  padding: 20px;
}
nav ul li a{
  text-decoration: none;
  color:white;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 16px;
}
.explorer{
  padding-left: 35px;
  padding-top: 100px;
  width: 65%;
  height: 65%;
}
.explorer1{
text-align: center;
padding-top: 10%;


}
.sig{
text-align: center;
font-size: larger;
font-weight: 500;
padding-top: 1rem;


}
.sig1{
color: #eee;
}
.sig:hover{
color: black;
}
/* .cont{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
} */
/* .cards{
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 5px 6px 20px 10px rgba(0, 0, 0, 0.19);
  text-align: center;

  border-radius: 48px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;

} */
.container-fluid{
  padding-left: 80px;
  padding-right: 80px;
}
@media (max-width:600px) {
  .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
  }
}
.cards{
  /* box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 5px 6px 20px 10px rgba(0, 0, 0, 0.19); */
  text-align: center;
  width: 100%;
  min-width: 200px;
  height: 250px;
  /* border-radius: 48px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px; */
  position: relative;
  text-align: center;
  color: white;
  margin: 0;

}
.cen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cont:hover {
	transform: scale(1.02);
  transition: 0.2s;
  z-index: 11;
}

.content1{
  color: white;
  padding-left: 35px;
  padding-right: 20px;
  padding-top: 0px;
  font-style: normal;
  font-size: 18px;
  font-family: sans-serif;
}
.caroparent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.caroimg{
  border-radius: 50px;
  height: 10%;
}
i{
  font-size: 25px;
}
/*-----------tourism--------------*/
.tourism{
  margin:50px 0; 
}
/* #tourism,#services{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
} */

.row{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  
}


.col-1{
  flex-basis: 1%;
  
  
 
  min-width: 190px;
}

.col-1 img{
  
      width: 290px;
      border: 5px;
      border-top: 20px;
      border-color: #000;
      padding-bottom: 100px;
                                  
}


.small-container{
  max-width: 1800px;
  
  margin-top: 10px;
  padding-top:230px;
  
  
  
}
.title{
  
  font-weight: bold;
  margin-left: auto;
  position:relative;
  padding-left: 35px;
 
  
  
  
  
}
.tourism h2{
  display: inline-block;
  text-align: center;
  inline-size: 300px;
  
  background-color: #000;
  color:azure;
  font-size: 50px;
  
  
}
.tourism h4{
  display: block;
  margin-top: 25px;
  font-weight: bold;
  
}
.responsiveimg{
  width: 100%;
max-width: 500px;
height: auto;
}
@media (max-width:400px) {
  
  .responsiveimg{
      width: 252px;
      height: 130px;
  }
  .content1{
      font-size: 16px;
      text-align: left;
      text-align-last: left;
  }
}
@media (min-width:1000px){
  .content1{
      padding-right: 30%;
  }
}





/*Navbar*/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.navv{
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.navbar{
  height: 70px;
  width: 100%;
  background-color: #00000025;
  
  
}
#logo{
 padding-top: 10px;
 padding-left: 10px;
}

.navbar .nav-header{
  display: inline;
}
.navbar .nav-header .nav-logo{
  display: inline-block;
  margin-top: -7px;
}
.navbar .nav-links{
  display: inline;
  float: right;
  font-size: 18px;
  padding: 0px 0px 0px 0px;
}
 

.navbar .nav-links a{
  padding: 10px 6px;
  text-decoration: none;
  font-weight: 550;
  color: white;
}
/* Hover effects */
.navbar .nav-links a:hover{
  background-color: #00000025;
}
 
/* responsive navbar toggle button */
.navbar #nav-check, .navbar .nav-btn{
  display: none;
}
 
@media (max-width:700px) {
  .explorer1{
    text-align: center;
    padding-top: 55%;
    text-decoration: none;
    
  }
  .navbar .nav-btn{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .navbar .nav-btn label {
    display: inline-block;
    width: 80px;
    height: 70px;
    padding: 25px;
  }
  .navbar .nav-btn label span {
    display: block;
    height: 10px;
    width: 25px;
    border-top: 3px solid #eee;
  }
  .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
    background-color: #00000025;
  }
  .navbar .nav-links{
    position: absolute;
    display: block;
    text-align: center;
    width: 50%;
    background-color: #000000d0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    right: 0px;
  }
  .navbar .nav-links a {
    display: block;
  }
 
  /* when nav toggle button not checked */
  .navbar #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
 
  /* when nav toggle button is checked */
  .navbar #nav-check:checked ~ .nav-links {
    height: auto;
    overflow-y: auto;
  }
  

}  
.cen{
  font-size: 24px;
  font-weight: 350;
}

@media (max-width:500px){
  .cards{
    height: 120px;
  }
  .cen{
    font-size: 18px;
  }
 }
/* ..modif.. */
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.gradient{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0),20%, rgba(0, 0, 0, 0.885));
}
.crdimg{
  height: 100%;
  background-color: #000000d8;
  object-fit: cover;
  border-radius: 10px;
  
}
.cont{
  padding: 0;
}
svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}
/* path{
  rotate: 180deg;
} */
/** CSS using pseudo-elements: **/

.headings{
  /* font-family: 'Love Light', cursive; */
  font-family: 'Permanent Marker', cursive;
  color: #eeeeeed9;
  font-size: 56px;
  padding-bottom: 10px;
  padding-top: 60px;
}
.hidden {
  opacity: 1;
  
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#call-logo{
  width: 20px;
  height: 20px;
  margin: 5px;
}

#mail-logo{
  width: 15px;
  height: 15px;
  margin: 5px;
}

#aboutus{
 text-align: center;
 justify-content: center;
 background-color: #000;
}
.contactus{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  flex-wrap: wrap;

}

.contct{
  margin: 10px;
  color: #eee;
}

hr{
  width: 130px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 5px;
}
#project{
  margin-left: 50px;
  margin-right: 50px;
}
@media (max-width:500px) {
  .headings{
    font-size: 28px;
    padding: 10px;
  }
  .responsiveimg{
    width: auto;
    height: 155px;
    margin-top: 50px;
  }
  header{
    height: 700px;
  }
  .contct{
    margin: 0px;
    margin-right: 10px;
  }
}

#preloader{
  background: #000 url(/static/images/preloader.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  background-size: 15%;
  position: fixed;
  z-index: 100000000;

}
@media (max-width:700px){
 #preloader{
background-size: 35%;
 }
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  width: 85%;
  margin-bottom: 50px;
  margin-top: 20px;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img{
  height: auto;
  max-height: 300px;
  width: 100%;
  object-fit: contain;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0%;
  width: auto;
  margin-top: 15%;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(240, 248, 255, 0.426);
  text-decoration: none;
  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: aliceblue;
}

/* Caption text */
.text {
  font-family: 'Poppins', sans-serif;
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
  box-sizing: fit-content;
  background-color: #28283200;
  margin-bottom: -50px;
  margin-top: 20px;
  
  
}

/* Number text (1/3 etc) */
.numbertext {
  color: #696969;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@media (max-width:700px){
  .text {
    font-family: 'Poppins', sans-serif;
    color: #f2f2f2;
    font-size: 13px;
    padding: 8px 12px;
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    box-sizing: fit-content;
    background-color: #28283200;
    margin-bottom: -50px;
    margin-top: 3px;

}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0%;
  width: auto;
  margin-top: 25%;
  padding: 7px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(240, 248, 255, 0.426);
  text-decoration: none;
  
}
.mySlides img{
  height: auto;
  max-height: 150px;
  width: 100%;
  object-fit: contain;
}
}
.cont h2{
  color: white; 
  text-align: center; 
  font-size: 1.5rem; 
  padding: 20px 0px 20px 0px;
}




/* .....................translation..................... */
.goog-te-banner-frame{
    display: none;
    margin-top: -20px;
}
.goog-logo-link{
    display: none !important;

}
.skiptranslate, .goog-te-gadget,.VIpgJd-ZVi9od-l4eHX-hSRGPd{
    color: transparent !important;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd>img{
    display: none;
}

/* Style for the dropdown */
.goog-te-combo {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

/* Style for the dropdown arrow */
.goog-te-gadget-icon {
    display: none;
}

#google_translate_element{
  /* background-color: #000; */
  width: 10px;
  height: 10px;
  position: absolute;
  padding-top: 6%;
  padding-left: 90%;
}
.services-side{
  padding: 0 40px;
}
details p{
  text-align: left;
}
details{
  text-align: left;
  justify-content: left;
}
@media (max-width:700px){
  #google_translate_element{
    top: 50px;
    padding-left: 65%;
  }
  .pservices{
    margin-top: 50px;
  }
  .services-side{
    padding: 0;
  }
}
