* {
	box-sizing: border-box;
	margin: 0;
	padding: 0px;
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	
  }
  body {
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 1)), url("../../images/bg.webp");
	background-size: cover;
	background-attachment:fixed;
	
  }
  header {
	background-color: rgba(0, 66, 44, 0.837);
	color: #ffffff;
	padding: 10px;
  	margin: 10px;
  }
  h1 {
	font-size: 45px;
	text-align: center;
  }
  .slider {

	height: 250px;
	width :350px;
	margin-bottom: 20px;

  }
 
  .slider img {
	width: 500px;
	height: 100%;
	object-fit: contain;
	margin-right: 10px;
    border-radius: 0px;
    
}
button>img{
    height:40px;
    width:40px;
    
	text-align: center;
	justify-content: center;
}
button{
    position: absolute;
    height:20px;
    width:120px;
    /* border-radius: 10px; */
	/* background: linear-gradient(to left, #56c4d3,#006476 );  */
    border-width: 1px;
	background-color: rgb(255, 255, 255);
	block-size: fit-content;
   
}
button>p{
	color: rgb(0, 67, 38);
	text-align: center;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight:500;
	font-size: medium;
	position: relative;
	
}
.but{
	display: flex;

}
h2,P{
	color: #ffffff;
	width: 600px;
	word-wrap: break-word;
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.mapp{
	margin-left: 100px;
}
.container{
	padding-top: 50px;
}
@media (max-width: 768px) {
	h1 {
		font-size: 20px;
		
	  }
	.container{
		padding-top: 20px;
		padding-bottom: 100px;
		
	}
	header {
		background-color: rgba(0, 66, 44, 0.837);
		color: #ffffff;
		padding: 10px;
		margin: 10px;
		width: 94%;
		position: absolute;
		text-align: center;
		justify-content: center;
		margin-top: 70px;
	  }
	.mapp{
		margin-left: 2px;
		padding-top: 20px;
	}
	.slider img{
		width: 80%;
		height: 250px;
		object-fit: contain;
		margin-right: 0px;
    	border-radius: 0px;
		/* position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%); */
		margin-left: 40px;
	}
	.slider {
		/* display: flex;
		flex-direction: column; */
		/* height: 200px;
		width :90%; */
		/* margin-bottom: 20px;
		object-fit: contain; */
		margin-top: 0px;
	  }
	  button>img{
		height:35px;
		width:35px;
		
		text-align: center;
		justify-content: center;
	}
	button{
		position: absolute;
		height:20px;
		width:120px;
		/* border-radius: 10px; */
		/* background: linear-gradient(to left, #56c4d3,#006476 );  */
		border-width: 1px;
		background-color: rgb(255, 255, 255);
		block-size: fit-content;
	   margin-left: 30px;
	   margin-bottom: 20px;
	}
	button>p{
		color: rgb(0, 67, 38);
		text-align: center;
		justify-content: center;
		margin: 4px;
		margin-bottom: 0pc;
		font-weight:500;
		font-size: medium;
		position: relative;
		
	}
	.description{
		margin-left: 30px;
		margin-top: 130px;
	}
	h2,P{
		
		width: 300px;
		word-wrap: break-word;
	}
	.containerr{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
}