<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='CSS/homestay/main.css') }}"
    />
    <title>Pallivasal</title>
    <link
      rel="icon"
      href="{{url_for('static',filename='images/logo.webp')}}"
      type="image/icon type"
    />
  </head>
  <body>
    <div class="navv">
      <nav class="navbar">
        <!-- Navbar logo -->
        <div class="nav-header">
          <div class="nav-logo">
            <a href="/home">
              <img
                id="logo"
                src="{{url_for('static',filename='images/logo.webp')}}"
                width="90px"
                alt="logo"
              />
            </a>
          </div>
        </div>
       
  
      </nav>
    </div>
    <h2>About Us</h2>
    <div class="card-blur text-white p-5 m-2 content1">
      The boundaries of the present Pallivasal Grama Panchayat are Lakshmimudi in the north, Koombanpara Ellakkal Road bordering Vellathooval Panchayat in the south, Pulippara and Pothamedu bordering Munnar and Bisonvali Panchayats in the east and Koombanpara in the west. The Kallar and Muthirappuzha rivers flow through this panchayat and fall into the Periyar. Coffee, cardamom and pepper are the main crops. The tea gardens are part of the panchayat. Corn, soybeans and peanuts are also grown. Ginger and turmeric Paddy is a short-term crop here. Paddy cultivation is on the rise.
<br><br>
The population density is 246. The historic Pallivasal Powerhouse, Pandavanmala, Chithirapuram, Sri. Koombanpara, which has started a soil conservation project by constructing a condor line to remove soil erosion in Pattanthan, is in Pallivasal grama panchayat. Situated just below the Munnar resort, also known as South Kashmir, the panchayat has always been a favourite with tourists.
<br><br>
The historic Pallivasal grama panchayat is a hilly panchayat located at an altitude of 5000 feet above sea level. Most of the people speak Tamil.
<br><br>
Most of the farmers in the district are engaged in horticulture and animal husbandry. There are other combinations. The famous tea gardens and factory of the Tata Tea Company are located in the T Panchayat.
    </div>
    
  </body>
</html>
