<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='CSS/userdash/userdash.css') }}"
  />
    <title>Add Spices</title>
    <link
    rel="icon"
    href="{{url_for('static',filename='images/logo.webp')}}"
    type="image/icon type"
  /> 
</head>
<body>
  <div class="container">
            <!-- this part for go back -->
            {% for item in list %}
            {% for item1 in list1 %}
            {% if item1.details_id == item.sno and item.services == "Spices outlet" %}
            <div>
            <a class="goback" href="/userdash/{{ item.sno }}">Go Back</a>
          </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
  <h1>Add Your Spices</h1>
            <div class="par">
  {% for item in list %}
  <div class="box4">
    <form id="form1" action="/addspiceproduct/{{ item.sno }}" method="post" enctype="multipart/form-data">
        <label for="spice">Select the Spice : </label>
              <select id="spice" name="product">
                <option value="" selected disabled>Select a Spice</option>
                <option value="Cardamom">Cardamom</option>
                <option value="Cinnamon">Cinnamon</option>
                <option value="Clove">Clove</option>
                <option value="Coffee">Coffee</option>
                <option value="Pepper">Pepper</option>
                <option value="Tea">Tea</option>
                <option value="Turmeric">Turmeric</option>
              </select>
              <br>
              <label>Price</label>
              <input type="text" name="price" placeholder="Enter the amount in Rs.">
              <input type="submit" value="Submit">
    </form>
  </div>
  {% endfor %}
    <div class="row">
          <!-- this part for delete -->
  {% for item in list %}
    {% for item1 in list1 %}
    <div class="viewpar">
      {% for item2 in list2 %}
          {% if item2.details_id == item1.local_id and item.sno == item1.details_id and item2.product is not none and item2.price is not none %}
            <div class="viewtemp">
              <h4>{{ item2.product }} : {{ item2.price }}</h4>
              <form class="formbut" action="/deletespiceproduct/{{ item.sno }}/{{ item2.local_id }}" method="post">
                <button class="delete" type="submit"><img class="del" src="{{ url_for('static',filename='images/delete.webp') }}" alt=""></button>
              </form>
            </div>
        {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  {% endfor %}
      
</div>
</div>
        </div>
          </body>
</html>