<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'bg.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/index/admin.css') }}"/>
    <link
    rel="icon"
    href="{{url_for('static',filename='images/logo.webp')}}"
    type="image/icon type"
  /> 
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>Pallivasal</title>
</head>
<body>
    <div class="navv">
        <nav class="navbar">
          <!-- Navbar logo -->
          <div class="nav-header">
            <div class="nav-logo">
              <a href="#">
                <img
                  id="logo"
                  src="{{url_for('static',filename='images/logo.webp')}}"
                  width="90px"
                  alt="logo"
                />
              </a>
              <a href="{{ url_for('admin_dash') }}">
                <div class="logout-btn">
                    <button type="button" class="btn btn-success">Home</button>
                </div></a>
            </div>
          </div>
    
        </nav>
      </div>
      <div class="toogle">
        <button onclick="showAdd()">
          Add Items
        </button>
        <button onclick="showAdded()">
          Added items
        </button>
      </div>

      <div id="show-add">
          <div class="cards-content">
            <a href="{{ url_for('addbank') }}" style="text-decoration: none;">
            <div class="cards">
                <h5 >Add Bank</h5>
            </div></a>
            <a href="{{ url_for('addproject') }}" style="text-decoration: none;">
              <div class="cards">
                  <h5 >Add Project</h5>
              </div></a>
              <a href="{{ url_for('addpublicdepartments') }}" style="text-decoration: none;">
                <div class="cards">
                    <h5 >Add Public Departments</h5>
                </div></a>
                <a href="{{ url_for('addsupplyco') }}" style="text-decoration: none;">
                  <div class="cards">
                      <h5 >Add Supplyco</h5>
                  </div></a>
                  <a href="{{ url_for('addrationshop') }}" style="text-decoration: none;">
                    <div class="cards">
                        <h5 >Add Ration Shop</h5>
                    </div></a>
                    <a href="{{ url_for('addworship') }}" style="text-decoration: none;">
                      <div class="cards">
                          <h5 >Add Place of Worship</h5>
                      </div></a>
                      <a href="{{ url_for('addeservices') }}" style="text-decoration: none;">
                        <div class="cards">
                            <h5 >Add E-services</h5>
                        </div></a>
                        <a href="{{ url_for('/') }}" style="text-decoration: none;">
                          <div class="cards">
                              <h5 >Add to Gallery</h5>
                          </div></a>
          </div>
      </div>

      <div id="show-added">
          <div class="cards-content">
            <a href="{{ url_for('addedbank') }}" style="text-decoration: none;">
            <div class="cards">
                <h5 >Banks</h5>
            </div></a>
            <a href="{{ url_for('addedproject') }}" style="text-decoration: none;">
              <div class="cards">
                  <h5 >Projects</h5>
              </div></a>
              <a href="{{ url_for('addedpublicdepartments') }}" style="text-decoration: none;">
                <div class="cards">
                    <h5 >Public Departments</h5>
                </div></a>
                <a href="{{ url_for('addedsupplyco') }}" style="text-decoration: none;">
                  <div class="cards">
                      <h5 >Supplyco</h5>
                  </div></a>
                  <a href="{{ url_for('addedrationshop') }}" style="text-decoration: none;">
                    <div class="cards">
                        <h5 >Ration Shop</h5>
                    </div></a>
                    <a href="{{ url_for('addedworship') }}" style="text-decoration: none;">
                      <div class="cards">
                          <h5 >Place of Worship</h5>
                      </div></a>
                      <a href="{{ url_for('addedeserivces') }}" style="text-decoration: none;">
                        <div class="cards">
                            <h5 >E-services</h5>
                        </div></a>
                        <a href="{{ url_for('addedgallery') }}" style="text-decoration: none;">
                          <div class="cards">
                              <h5 >Gallery</h5>
                          </div></a>
          </div>
      </div>
</body>
<script>
  const element = document.getElementById("show-add");
  const ele = document.getElementById("show-added");
  function showAdd() {
    if (element.style.display === "none") {
      element.style.display = "block";
      ele.style.display = "none";
    } else{
      element.style.display = "block";
      ele.style.display = "none";
    }
   
  }
  function showAdded() {
    if (ele.style.display === "none") {
      ele.style.display = "block";
      element.style.display = "none"; 
    }else{
      ele.style.display = "block";
      element.style.display = "none"; 
    }
  }
</script>
</html>