{% extends 'commonNav.html' %}
{% block head %}
  <title>Art and Cultural</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/placestovisit/tourstyle.css') }}">
  <script defer src="{{ url_for('static', filename='JS/slider.js') }}"></script>
{% endblock head %}

{% block body %}
  <main>
    <h1 class="headng" id="art_and_cultural"></h1>
    <div class="container-wrapper">
      {% for item in list %}
      {% if item.name is not none %}
        <div class="container mx-auto">
          <h2>{{ item.name }}</h2>
          <div class="slider mx-auto">
            <a href="/view_art/{{ item.details_id }}">
              {% for img in [item.img1, item.img2, item.img3, item.img4, item.img5] if img is not none %}
                {% set fname = 'uploads/' + img %}
                <img class="image_holder" src="{{ url_for('static', filename=fname) }}" loading="lazy">
              {% endfor %}
            </a>
          </div>
        </div>
        {%endif%}
      {% endfor %}
    </div>
  </main>

  <script>
    // Function to fetch translations and update content
    function updateTranslations() {
      fetch('/get_translation')
        .then(response => response.json())
        .then(translations => {
          if (!translations.error) {
            document.getElementById('art_and_cultural').innerText = translations['art_and_cultural'];
          }
        });
    }
  
    // Fetch translations on page load
    document.addEventListener('DOMContentLoaded', updateTranslations);
  </script>
{% endblock body %}
