<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'bg.html' %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='CSS/homestay/main.css') }}"
    />
    <title>Pallivasal</title>
    <link
      rel="icon"
      href="{{url_for('static',filename='images/logo.webp')}}"
      type="image/icon type"
    />
  </head>
  <body>
    <div class="navv">
      <nav class="navbar">
        <!-- Navbar logo -->
        <div class="nav-header">
          <div class="nav-logo">
            <a href="/home">
              <img
                id="logo"
                src="{{url_for('static',filename='images/logo.webp')}}"
                width="90px"
                alt="logo"
              />
            </a>
          </div>
        </div>
       
  
      </nav>
    </div>
    <h2>Gallery
    </h2>
    <div class="card-blur text-white p-1 pt-5 pb-5 m-2 content1">
    <div class="grid">
      {% for item in list %}                                               
      {% set fname = 'uploads/' + item.img %}       
      <div class="grid-item"><img src="{{ url_for('static',filename=fname) }}" alt="Image"></div>
      {% endfor %}
  </div> 
</div>
  </body>
  
  <script src="{{ url_for('static', filename='JS/jquery-1.11.3.min.js') }}"></script>             <!-- jQuery (https://jquery.com/download/) -->
            <script src="{{ url_for('static', filename='JS/imagesloaded.pkgd.min.js') }}"></script> <!-- https://masonry.desandro.com/ -->
            <script src="{{ url_for('static', filename='JS/masonry.pkgd.min.js') }}"></script> <!-- https://masonry.desandro.com/ -->
            
  <script>  
    
    $(document).ready(function(){

        // init Masonry
        // https://codepen.io/craigwheeler/pen/MYjBga
        var $grid = $('.grid').masonry({
            
            // set itemSelector so .grid-sizer is not used in layout
            // itemSelector: '.grid-item',
            // use element for option
            // columnWidth: '.grid-sizer',
            // percentPosition: true

            itemSelector: '.grid-item',
            isFitWidth: true,
            columnWidth: 1
        });
        // layout Masonry after each image loads
        $grid.imagesLoaded().progress( function() {
          $grid.masonry('layout');
        });            

              
    });

    </script>
            
            <!-- Templatemo scripts -->
</html>
