<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'bg.html' %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='CSS/homestay/main.css') }}"
    />
    <title>Pallivasal</title>
    <link
      rel="icon"
      href="{{url_for('static',filename='images/logo.webp')}}"
      type="image/icon type"
    />
  </head>
  <body>
    <div class="navv">
      <nav class="navbar">
        <!-- Navbar logo -->
        <div class="nav-header">
          <div class="nav-logo">
            <a href="/home">
              <img
                id="logo"
                src="{{url_for('static',filename='images/logo.webp')}}"
                width="90px"
                alt="logo"
              />
            </a>
          </div>
        </div>
       
  
      </nav>
    </div>
    <h2>The social and cultural history
    </h2>
    <div class="card-blur text-white p-5 m-2 content1">
      Every country has a history. The history of the country is often intertwined with such legends. Kerala and Tamil Nadu have a similar history.

      In the past, the Pandavas travelled south and reached Pallivasal. They're the base
      
      
      
      Pandavarmala is the place where they established their base. There is a cave just in front of the feet of the Pandavas and there is a huge single floor in the cave.  At the foot of a large rock, there is a lake and a lake. Since there were a lot of tamarind trees in these areas, the
      
      It was later known as Pallivasal.
      
      Pallivasal is the place where St. Thomas the Apostle stayed overnight on his way to Kothamangalam from Tamil Nadu. The place where Saint Eldo Mar Baselios Bava offered Mass became famous as Pallivasal.
      
      As a migrant village, Pallivasal does not have much to say about socio-cultural diversity. But Pallivasal was famous even in the beginning of this century.
      
      Munro, A.D. Breau and Turner received a reward of one thousand rupees from the king of Poonjar.
      
      344 crore per annum. കി. I have registered the place.  The memory of Kannan, the god who guided the soldiers, remained fresh in their minds. When the company was registered in Scotland in 1897, the name given to it was Kannan Devan Hill Produce Company. In 1906, the company built 200 km for its own purpose. Watt produced electricity. A ropeway for transporting goods has also been installed.
      
      The Muthirapuzha, a tributary of Periyar, was blocked at the headworks and diverted through a 3121.6 -metre-long tunnel. 4 penstocks of length 2214.3 m each
      
      The road brought it down. So the power came. The powerhouse worked with it. Work began in 1938 and was completed in 1940. This is the famous Pallivasal Powerhouse.
      
      Dams were also built at Kundala (Sethuparvathipuram) and Mattupetty as the flow in Muthirapuzha decreased. It was built by the Maharaja of Travancore and was the first hydroelectric project in Kerala, after which the Maharaja took over the responsibility of providing electricity to the Kannan Devan Company. That responsibility is now being carried out by the KSEB.
      
      Pallivasal is a hilly panchayat located at an altitude of 2000 to 1000 feet above sea level. Months of incessant rain, cold, wild animals, and deadly diseases.
      The history of present-day Pallivasal is the history of a successful settler.
      
      Srichithira Thirunal Maharaja has come to the Pallivasam and installed a donation in its memory. This is a historic place.
    
  </body>
</html>
