<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Pallivasal</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.webp') }}" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Love+Light&family=Pacifico&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/index/style.css') }}"/>
    <script>
function updateTranslations() {
    fetch('/get_translation')
        .then(response => response.json())
        .then(data => {
            if (data) {
                updateElement('welcome_message', data.welcome_message);
                updateElement('tourism_heading', data.tourism_heading);
                updateElement('places_to_visit', data.places_to_visit);
                updateElement('place_to_stay', data.place_to_stay);
                updateElement('adventure_activities', data.adventure_activities);
                updateElement('art_and_cultural', data.art_and_cultural);
                updateElement('services_heading', data.services_heading);
                updateElement('transportation', data.transportation);
                updateElement('local_workforce', data.local_workforce);
                updateElement('spices_plantations', data.spices_plantations);
                updateElement('other_services', data.other_services);
                updateElement('public_services_heading', data.public_services_heading);
                updateElement('hospitals', data.hospitals);
                updateElement('pharmacy', data.pharmacy);
                updateElement('banks', data.banks);
                updateElement('e_services', data.e_services);
                updateElement('projects_heading', data.projects_heading);
                updateElement('about_us', data.about_us);
                updateElement('history', data.history);
                updateElement('publicDepartments', data.publicDepartments);
                updateElement('publicDistributionCenters', data.publicDistributionCenters);
            } else {
                console.error("No data received from server.");
            }
        })
        .catch(error => {
            console.error("Error fetching translations:", error);
        });
}

function updateElement(elementId, value) {
    const element = document.getElementById(elementId);
    if (element) {
        element.innerText = value;
    } else {
        console.warn(`Element with id '${elementId}' not found.`);
    }
}

document.addEventListener('DOMContentLoaded', updateTranslations);
  </script>
    {% endblock %}
</head>
<body>
    {% block body %}
    <!----------------------Preloader------------------------>
    {% include 'base.html' %}
    <div id="preloader"></div>
    
    <!----------------------Home------------------------>
    <section id="home">
        <div class="wrapper">
            <header>
                <div class="explorer">
                    <img src="{{ url_for('static', filename='images/explore.webp') }}" class="responsiveimg" width="1322" height="680" alt="Explore Pallivasal"/>
                </div>
                <div>
                    <p class="content1" id="welcome_message">loading...</p>
                </div>
            </header>
        </div>
    </section>
    <!----------------------Tourism------------------------>
    <section class="p-4" id="tourism">
        <div class="container-fluid">
            <div class="h" style="display: flex;justify-content: center;align-items: center;">
                <h1 id="myHeading" style="text-align: center" class="headings hidden"><div id="tourism_heading">Tourism</div></h1>
            </div>
            <section class="show p-2">
                <div class="row">
                    <div class="col mx-auto cont p-1">
                        <a href="{{ url_for('tour') }}" style="text-decoration: none">
                            <div class="cards mx-auto">
                                <div class="gradient"></div>
                                <img src="{{ url_for('static', filename='images/waterfall.webp') }}" class="card-img-top crdimg p-1" alt="..."/><p class="cen" id="places_to_visit"></p></img>
                            </div>
                        </a>
                    </div>
                    <div class="col mx-auto cont p-1">
                        <a href="{{ url_for('where_to_stay') }}" style="text-decoration: none">
                            <div class="cards mx-auto">
                                <div class="gradient"></div>
                                <img src="{{ url_for('static', filename='images/stay.webp') }}" class="card-img-top crdimg p-1" alt="..."/><p class="cen" id="place_to_stay"></p></img>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col mx-auto cont p-1">
                        <a href="{{ url_for('adventure') }}" style="text-decoration: none">
                            <div class="cards mx-auto">
                                <div class="gradient"></div>
                                <img src="{{ url_for('static', filename='images/adventure.webp') }}" class="card-img-top crdimg p-1" alt="..."/><p class="cen" id="adventure_activities"></p></img>
                            </div>
                        </a>
                    </div>
                    <div class="col mx-auto cont p-1">
                        <a href="{{ url_for('art') }}" style="text-decoration: none">
                            <div class="cards mx-auto">
                                <div class="gradient"></div>
                                <img src="{{ url_for('static', filename='images/culture.webp') }}" class="card-img-top crdimg p-1" alt="..."/><p class="cen" id="art_and_cultural"></p></img>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </section>
    
    <!----------------------Services------------------------>
    <section class="p-4" id="services">
        <div class="container-fluid">
            <div class="h" style="display: flex;justify-content: center;align-items: center;">
                <h1 style="text-align: center" class="headings" id="services_heading"></h1>
            </div>
            <div class="row px-2">
                <div class="col mx-auto cont p-1">
                    <a href="{{ url_for('transport') }}" style="text-decoration: none">
                        <div class="cards mx-auto">
                            <div class="gradient"></div>
                            <img src="{{ url_for('static', filename='images/Rectangle1.webp') }}" class="card-img-top crdimg p-1" alt="..."/><p class="cen" id="transportation"></p></img>
                        </div>
                    </a>
                </div>
                <div class="col mx-auto cont p-1">
                    <a href="{{ url_for('local_workforce') }}" style="text-decoration: none">
                        <div class="cards mx-auto">
                            <div class="gradient"></div>
                            <img src="{{ url_for('static', filename='images/Rectangle2.webp') }}" class="card-img-top crdimg p-1" alt="..."/><p class="cen" id="local_workforce"></p></img>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row px-2">
                <div class="col mx-auto cont p-1">
                    <a href="{{ url_for('spices') }}" style="text-decoration: none">
                        <div class="cards mx-auto">
                            <div class="gradient"></div>
                            <img src="{{ url_for('static', filename='images/spices.webp') }}" class="card-img-top crdimg p-1" alt="..."/><p class="cen" id="spices_plantations"></p></img>
                        </div>
                    </a>
                </div>
                <div class="col mx-auto cont p-1">
                    <a href="{{ url_for('other_services') }}" style="text-decoration: none">
                        <div class="cards mx-auto">
                            <div class="gradient"></div>
                            <img src="{{ url_for('static', filename='images/otherservices.webp') }}" class="card-img-top crdimg p-1" alt="..."/><p class="cen" id="other_services"></p></img>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <!----------------------Public Services------------------------>
    <section class="p-4" id="services">
        <div class="container-fluid">
            <div class="h" style="display: flex;justify-content: center;align-items: center;">
                <h1 style="text-align: center" class="headings" id="public_services_heading"></h1>
            </div>
            <div class="row px-2">
                <div class="col mx-auto cont p-1">
                    <a href="{{ url_for('Hospitals') }}" style="text-decoration: none">
                        <div class="cards mx-auto">
                            <div class="gradient"></div>
                            <img src="{{ url_for('static', filename='images/hospital.webp') }}" class="card-img-top crdimg p-1" alt="..."/><p class="cen" id="hospitals"></p></img>
                        </div>
                    </a>
                </div>
                <div class="col mx-auto cont p-1">
                    <a href="{{ url_for('Pharmacyfn') }}" style="text-decoration: none">
                        <div class="cards mx-auto">
                            <div class="gradient"></div>
                            <img src="{{ url_for('static', filename='images/pharmacy.webp') }}" class="card-img-top crdimg p-1" alt="..."/><p class="cen" id="pharmacy"></p></img>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row px-2">
                <div class="col mx-auto cont p-1">
                    <a href="{{ url_for('bank') }}" style="text-decoration: none">
                        <div class="cards mx-auto">
                            <div class="gradient"></div>
                            <img src="{{ url_for('static', filename='images/bank.webp') }}" class="card-img-top crdimg p-1" alt="..."/><p class="cen" id="banks"></p></img>
                        </div>
                    </a>
                </div>
                <div class="col mx-auto cont p-1">
                    <a href="{{ url_for('eservices') }}" style="text-decoration: none">
                        <div class="cards mx-auto">
                            <div class="gradient"></div>
                            <img src="{{ url_for('static', filename='images/eservice.webp') }}" class="card-img-top crdimg p-1" alt="..."/><p class="cen" id="e_services"></p></img>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row px-2">
                <div class="col mx-auto cont p-1">
                    <a href="{{ url_for('publicdepartments') }}" style="text-decoration: none">
                        <div class="cards mx-auto">
                            <div class="gradient"></div>
                            <img src="{{ url_for('static', filename='images/publicdepartments.webp') }}" class="card-img-top crdimg p-1" alt="..."/><p class="cen" id="publicDepartments"></p></img>
                        </div>
                    </a>
                </div>
                <div class="col mx-auto cont p-1">
                    <a href="{{ url_for('publiccenters') }}" style="text-decoration: none">
                        <div class="cards mx-auto">
                            <div class="gradient"></div>
                            <img src="{{ url_for('static', filename='images/publiccenters.webp') }}" class="card-img-top crdimg p-1" alt="..."/><p class="cen" id="publicDistributionCenters"></p></img>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <!-------------- Projects Section ----------------->
    <h1 style="text-align: center" class="headings" id="projects_heading"></h1>
    <div class="slideshow-container">
        {% for item in list %}
        <div class="mySlides">
            <img src="{{ url_for('static', filename='uploads/' + item.img) }}">
            <div class="text">{{ item.desc }}</div>
        </div>
        {% endfor %}
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    
    <!-------------- Image of panchayath office ----------------->
    <section class="pt-3">
        <img src="{{ url_for('static', filename='images/panchayath.webp') }}" class="img-fluid" alt=""/>
    </section>
    
    <!----------------------About Us------------------------>
    <section>
        <div class="text-white" id="aboutus">
          <div>
            <p><a href="{{ url_for('aboutus') }}" id="about_us" style="color: aliceblue;text-decoration: none;"> About Us</a> &nbsp;|&nbsp; <a href="{{ url_for('history') }}" id="history" style="color: aliceblue;text-decoration: none;"> History</a> &nbsp;|&nbsp; <a href="{{ url_for('gallery') }}" id="history" style="color: aliceblue;text-decoration: none;">Gallery</a></p>
          </div>

            <p >0486526323 &nbsp;|&nbsp; <a style="color: aliceblue; text-decoration: none;" href="mailto:pallivasalgp@gmail.com">pallivasalgp@gmail.com</a> &nbsp;|&nbsp; +91 9496045021</p>

        </div>
    </section>
    
    <script src="{{ url_for('static', filename='JS/main.js') }}" defer></script>
    {% endblock %}
</body>
</html>
