<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantation Crops</title>
    <link
      rel="icon"
      href="{{url_for('static',filename='images/logo.webp')}}"
      type="image/icon type"
    />  
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/spices/plantation_cropes.css') }}">

  <body>
    <div class="navv">
      <nav class="navbar">
        <!-- Navbar logo -->
        <div class="nav-header">
          <div class="nav-logo">
            <a href="/home">
              <img
                id="logo"
                src="{{url_for('static',filename='images/logo.webp')}}"
                width="90px"
                alt="logo"
              />
            </a>
          </div>
        </div>

        <!-- responsive navbar toggle button -->
      </nav>
    </div>


  <h1 class="LW">
    Plantations
  </h1>
  <div class="container">
    <div class="row">
      <div class="parent">
        {% for i in list %}
        <div class="sec">
          <div class="imgs">
            {% if i.img is not none %}
              {% set fname = 'uploads/' + i.img %}  
              <img src="{{ url_for('static',filename=fname) }}" class="asd">
            {% else %}
              <img src="{{url_for('static',filename='images/p1.webp')}}" class="asd" />
            {% endif %}
          </div>
          <div class="contents" ;>
            <h2 >{{ i.name }}</h2>
            <h5 >Address : {{ i.address }}</h5>
            <h5 >Contact no : {{ i.contact }}</h5>
            <h5 >Crops : {{ i.Crops }}</h5>
            <h5><a href="{{ i.location }}" >{{ i.location }}</a></h5>

          </div>
        </div>
        {% endfor %}
      <!-- </div> -->

      <!-- <div class="parent"> -->
        
      
    </div>
  </div>
  </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
