
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='CSS/userdash/userdash.css') }}"
  />
    <title>Pallivasal</title>
    <link
    rel="icon"
    href="{{url_for('static',filename='images/logo.webp')}}"
    type="image/icon type"
  /> 

</head>

<body>
  <div class="navv">
    <nav class="navbar">
      <!-- Navbar logo -->
      <div class="nav-header">
        <div class="nav-logo">
          <a href="#">
            <img
              id="logo"
              src="{{url_for('static',filename='images/logo.webp')}}"
              width="90px"
              alt="logo"
            />
          </a>
          <a href="{{ url_for('signin_logout') }}">
            <div class="logout-btn">
                <button type="button" class="btn btn-danger">Logout</button>
            </div></a>
        </div>
      </div>

      <!-- responsive navbar toggle button -->
    </nav>
  </div>
  
    {% for item in list %}
    <div class="box">
    <div class="box1">
        <h2>{{ item.services }}</h2>
            {% if item.services == "Carpentary works" %}
            <img
              src="{{url_for('static',filename='images/carpenter.webp')}}"
              alt="Carpenter"
            />
            {% endif %} {% if item.services == "Plumbing services" %}
            <img
              src="{{url_for('static',filename='images/plumber.webp')}}"
              alt="Plumber"
            />
            {% endif %} {% if item.services == "Electrical works" %}
            <img
              src="{{url_for('static',filename='images/electrical.webp')}}"
              alt="Electrical"
            />
            {% endif %}
            {% if item.services == "Trekking Guide" %}
            <img
              src="{{url_for('static',filename='images/Treeking_guide.webp')}}"
              alt="Trekking"
            />
            {% endif %}
            {% if item.services == "Spices outlet" %}
            <img
              src="{{url_for('static',filename='images/spices_outlet.webp')}}"
              alt="spices outlet"
            />
            {% endif %}
            {% if item.services == "plantation" %}
            <img
              src="{{url_for('static',filename='images/Plantation_crops.webp')}}"
              alt="Plantation crops"
            />
            {% endif %}
            {% if item.services == "Jeep Safari" %}
            <img
              src="{{url_for('static',filename='images/jeepsafari.webp')}}"
              alt="jeep safari"
            />
            {% endif %}
            {% if item.services == "Taxi service" %}
            <img
              src="{{url_for('static',filename='images/taxi_services.webp')}}"
              alt="taxi"
            />
            {% endif %}
            {% if item.services == "Auto Rickshaw" %}
            <img
              src="{{url_for('static',filename='images/auto_service.webp')}}"
              alt="auto service"
            />
            {% endif %}
            {% if item.services == "Bike Rental" %}
            <img
              src="{{url_for('static',filename='images/bike_rental.webp')}}"
              alt="bike rental"
            />
            {% endif %}
            {% if item.services in ["Car Rental","Car mechanic","Ambulance","Bike mechanic"] %}
            <img
              src="{{url_for('static',filename='images/car_rental.webp')}}"
              alt="car rental"
            />
            {% endif %}
            {% if item.services == "Home stay" %}
            <img
              src="{{url_for('static',filename='images/homestay.webp')}}"
              alt="Homestay"
            />
            {% endif %}
            {% if item.services == "Resorts" %}
            <img
              src="{{url_for('static',filename='images/resorts.webp')}}"
              alt="resorts"
            />
            {% endif %}
            {% if item.services == "Dormitories" %}
            <img
              src="{{url_for('static',filename='images/dormitories.webp')}}"
              alt="dormitories"
            />
            {% endif %}
            {% if item.services == "Tent Camping" %}
            <img
              src="{{url_for('static',filename='images/tent_camping.webp')}}"
              alt="tent camping"
            />
            {% endif %}
            {% if item.services == "Pharmacy Store" %}
            <img
              src="{{url_for('static',filename='images/Plantation_crops.webp')}}"
              alt="Plantation crops"
            />
            {% endif %}
        <h5>User Name</h5>
        <h3>{{ item.name }}</h3>
        <h5>Contact Number</h5>
        <h3>{{ item.contact }}</h3>
        <h5>E-mail</h5>
        <h3>{{ item.email }}</h3>
        <h5>Address</h5>
        <h3>{{ item.address }}</h3>
    </div>
    {% if item.services in ["Jeep Safari" ,"Ambulance","Bike mechanic","Car mechanic", "Taxi service" , "Bike Rental" , "Auto Rickshaw" , "Car Rental"]  %}
    <div class="box2">
    {% for item5 in transport %}
    <div id="change">
        <form id="form1" onsubmit="changeDivContent()" action="/userdash/{{ item.sno }}" method='post' enctype="multipart/form-data">
          <h2>Enter the Details</h2>
          <label>Cost per kilometer</label>
          <input value="{{ item5.cost | default('') }}" type="text" name="cost" >
          <label>Trip available(Yes/No)</label>
          <input value="{{ item5.Trip_available | default('') }}" type="text" name="Trip_available">
          <label>Pick up and Drop(Yes/No)</label>
          <input value="{{ item5.Pick_up_and_Drop | default('') }}" type="text" name="Pick_up_and_Drop">
          <label>Duration</label>
          <input value="{{ item5.Duration | default('') }}" type="text" name="Duration">
          <label>vehicle</label>
          <input value="{{ item5.vehicle | default('') }}" type="text" name="vehicle">
          <label>No. of Persons Allowed</label>
          <input value="{{ item5.no_of_persons | default('') }}" type="text" name="no_of_persons">
          <label>Things to carry</label>
          <input value="{{ item5.Things_to_carry | default('') }}" type="text" name="Things_to_carry">
          <label>Photo of vehicle</label>
         <input type="file" name="img">
          <button>Save Changes</button>      
        </form>      
    </div>
    <div id="edit">
      <h2>Details</h2>
      <h5>Cost </h5>
      <h3>{{ item5.cost | default('') }}</h3>
      <h5>Trip available</h5>
      <h3>{{ item5.Trip_available | default('') }}</h3>
      <h5>Pick up and Drop</h5>
      <h3>{{ item5.Pick_up_and_Drop | default('') }}</h3>
      <h5>Duration</h5>
      <h3>{{ item5.Duration | default('') }}</h3>
      <h5>vehicle</h5>
      <h3>{{ item5.vehicle | default('') }}</h3>
      <h5>No. of Persons Allowed</h5>
      <h3>{{ item5.no_of_persons | default('') }}</h3>
      <h5>Things to carry</h5>
      <h3>{{ item5.Things_to_carry | default('') }}</h3>
      {% if item5.img is not none %}
      <h5>Uploaded Photo</h5>

      <h3><a href="/image/{{ item5.img }}" target="_blank">click here to view the picture
      </a> </h3>       

      {% endif %}
      <button onclick="changeDivContent()">Edit</button>
    </div>
    {% endfor %}

    </div>
    
  {% elif item.services in ["Carpentary works" , 'Plumbing services' , 'Electrical works', 'Art and Craft', 'Mason', 'Painter', 'Goldsmith', 'Blacksmith']  %}
  <div class="box2">
    {% for item1 in local %}
  <div id="change">  
        <form id="form1" onsubmit="changeDivContent()" action="/userdash/{{ item.sno }}" method='post' enctype="multipart/form-data">
          <h2>Enter the Details</h2>
          <label>Whatsapp Number</label>
          <input value="{{ item1.whatsapp_number | default('') }}" type="text" name="whatsapp">
          <label>Year of Experience</label>
          <input value="{{ item1.years_of_exp | default('') }}" type="text" name="exp">
          <label>Technical Qualification, if any</label>
          <input value="{{ item1.technical_qualifications | default('') }}" type="text" name="technical">
          <label>Remuneration Detais</label>
          <input value="{{ item1.remuneration_details | default('') }}" type="text" name="remuneration">
          <label>Photo of your work</label>
          <input type="file" name="img">
          <button id="btn" type="submit">Save Changes</button>
        </form>
      </div>
      <div id="edit">
        <h2>Details</h2>
        <h5>Whatsapp Number</h5>
        <h3>{{ item1.whatsapp_number | default('') }}</h3>
        <h5>Year of Experience</h5>
        <h3>{{ item1.years_of_exp | default('') }}</h3>
        <h5>Technical Qualification, if any</h5>
        <h3>{{ item1.technical_qualifications | default('') }}</h3>
        <h5>Remuneration Detais</h5>
        <h3>{{ item1.remuneration_details | default('') }}</h3>
        {% if item1.img is not none %}
        <h5>Photos of your work</h5>
        <a href="/image/{{ item1.img }}" target="_blank">click here to view the picture
        </a>        
        {% endif %}
        <!-- <img src="{{ url_for('static',filename=fname) }}" alt="image">click -->
        <button onclick="changeDivContent()" >Edit</button>
      </div>
      {% endfor %}
    </div>
     
    {% elif item.services in ["Home stay" , "Resorts" , "Tent Camping" , "Dormitories" ]  %}
    
    <div class="box2">
      {% for item2 in stay %}
      <div id="change">
      <form id="form1" onsubmit="changeDivContent()" action="/userdash/{{ item.sno }}" method='post' enctype="multipart/form-data">
        <h2>Enter the Details</h2>
          <label>Name of (Home stay/Resort/Tent/Dormitories)</label>
          <input value="{{ item2.name | default('') }}" type="text" name="name">
          <label>Location Details(Link of Google Map)</label>
          <input value="{{ item2.location | default('') }}" type="text" name="location">
          <label>Property description</label>
          <input value="{{ item2.description | default('') }}" type="text" name="description">
          <label>Additional contact number</label>
          <input value="{{ item2.contact2 | default('') }}" type="text" name="contact">
          <label>Facilities</label>
          <input value="{{ item2.facilities | default('') }}" type="text" name="facilities">
          <label>No. of Rooms</label>
          <input value="{{ item2.no_of_rooms | default('') }}" type="text" name="rooms">
          <label>Services</label>
          <input value="{{ item2.services | default('') }}" type="text" name="services">
          <label>Photo</label>
          <input type="file" name="img1" required>
          <button id="click-btn" type="submit">Save Changes</button>
        </form>  
      </div>
        <div id="edit">
          <h2>Details</h2>
          <h5>Name</h5>
            <h3>{{ item2.name | default('') }}</h3>
          <h5>Location Details</h5>
            <h3>{{ item2.location | default('') }}</h3>
          <h5>Property description</h5>
            <h3>{{ item2.description | default('') }}</h3>
          <h5>Additional contact number</h5>
            <h3>{{ item2.contact2 | default('') }}</h3>
          <h5>Facilities</h5>
            <h3>{{ item2.facilities | default('') }}</h3>
          <h5>No. of Rooms</h5>
            <h3>{{ item2.no_of_rooms | default('') }}</h3>
          <h5>Services</h5>
            <h3>{{ item2.services | default('') }}</h3>
            {% if item2.img1 is not none %}
            <h5>Uploaded Photo</h5>
            <h3><a href="/image/{{ item2.img1 }}" target="_blank">click here to view the picture
            </a> </h3>       
            {% endif %}
            <button onclick="changeDivContent()" >Edit</button>
        </div>
      {% endfor %}
  </div>

  {% elif item.services in ["Adventure Activity"]  %}
    
    <div class="box2">
      {% for item2 in adventure %}
      <div id="change">
      <form id="form1" onsubmit="changeDivContent()" action="/userdash/{{ item.sno }}" method='post' enctype="multipart/form-data">
        <h2>Enter the Details</h2>
          <label>Name of Adventure Activity</label>
          <input value="{{ item2.name | default('') }}" type="text" name="name">
          <label>Location Details(Link of Google Map)</label>
          <input value="{{ item2.location | default('') }}" type="text" name="location">
          <label>Property description</label>
          <input value="{{ item2.description | default('') }}" type="text" name="description">
          <label>Additional contact number</label>
          <input value="{{ item2.contact2 | default('') }}" type="text" name="contact">
          <label>Place</label>
          <input value="{{ item2.place | default('') }}" type="text" name="place">
          <label>Tariff</label>
          <input value="{{ item2.tariff | default('') }}" type="text" name="tariff">
          <label>Photo</label>
          <input type="file" name="img1" required>
          <button id="click-btn" type="submit">Save Changes</button>
        </form>  
      </div>
        <div id="edit">
          <h2>Details</h2>
          <h5>Name</h5>
            <h3>{{ item2.name | default('') }}</h3>
          <h5>Location Details</h5>
            <h3>{{ item2.location | default('') }}</h3>
          <h5>Property description</h5>
            <h3>{{ item2.description | default('') }}</h3>
          <h5>Additional contact number</h5>
            <h3>{{ item2.contact2 | default('') }}</h3>
          <h5>Place</h5>
            <h3>{{ item2.place | default('') }}</h3>
            <h5>Tariff</h5>
            <h3>{{ item2.place | default('') }}</h3>
            {% if item2.img1 is not none %}
            <h5>Uploaded Photo</h5>
            <h3><a href="/image/{{ item2.img1 }}" target="_blank">click here to view the picture
            </a> </h3>       
            {% endif %}
            <button onclick="changeDivContent()" >Edit</button>
        </div>
      {% endfor %}
  </div>

  {% elif item.services in ["Restaurant","Beauty Parlour","Hair Saloon","Studio"]  %}
    
    <div class="box2">
      {% for item2 in others %}
      <div id="change">
      <form id="form1" onsubmit="changeDivContent()" action="/userdash/{{ item.sno }}" method='post' enctype="multipart/form-data">
        <h2>Enter the Details</h2>
          <label>Name of shop</label>
          <input value="{{ item2.name | default('') }}" type="text" name="name">
          <label>Location Details(Link of Google Map)</label>
          <input value="{{ item2.location | default('') }}" type="text" name="location">
          <label>Property description</label>
          <input value="{{ item2.description | default('') }}" type="text" name="description">
          <label>Additional contact number</label>
          <input value="{{ item2.contact2 | default('') }}" type="text" name="contact">
          <label>Place</label>
          <input value="{{ item2.place | default('') }}" type="text" name="place">
          <label>Photo</label>
          <input type="file" name="img1" required>
          <button id="click-btn" type="submit">Save Changes</button>
        </form>  
      </div>
        <div id="edit">
          <h2>Details</h2>
          <h5>Name</h5>
            <h3>{{ item2.name | default('') }}</h3>
          <h5>Location Details</h5>
            <h3>{{ item2.location | default('') }}</h3>
          <h5>Property description</h5>
            <h3>{{ item2.description | default('') }}</h3>
          <h5>Additional contact number</h5>
            <h3>{{ item2.contact2 | default('') }}</h3>
          <h5>Place</h5>
            <h3>{{ item2.place | default('') }}</h3>
            {% if item2.img1 is not none %}
            <h5>Uploaded Photo</h5>
            <h3><a href="/image/{{ item2.img1 }}" target="_blank">click here to view the picture
            </a> </h3>       
            {% endif %}
            <button onclick="changeDivContent()" >Edit</button>
        </div>
      {% endfor %}
  </div>

  {% elif item.services in ["Art and Cultural"]  %}
    
    <div class="box2">
      {% for item2 in art %}
      <div id="change">
      <form id="form1" onsubmit="changeDivContent()" action="/userdash/{{ item.sno }}" method='post' enctype="multipart/form-data">
        <h2>Enter the Details</h2>
          <label>Name of the centre</label>
          <input value="{{ item2.name | default('') }}" type="text" name="name">
          <label>Location Details(Link of Google Map)</label>
          <input value="{{ item2.location | default('') }}" type="text" name="location">
          <label>Description</label>
          <input value="{{ item2.description | default('') }}" type="text" name="description">
          <label>Additional contact number</label>
          <input value="{{ item2.contact2 | default('') }}" type="text" name="contact">
          <label>Place</label>
          <input value="{{ item2.place | default('') }}" type="text" name="place">
          <label>Photos(maximum 5)</label>
          <input
                  id="myfile"
                  type="file"
                  name="files[]"
                  multiple="true"
                  autocomplete="off"
                  required
              />
          <button id="click-btn" type="submit">Save Changes</button>
        </form>  
      </div>
        <div id="edit">
          <h2>Details</h2>
          <h5>Name</h5>
            <h3>{{ item2.name | default('') }}</h3>
          <h5>Location Details</h5>
            <h3>{{ item2.location | default('') }}</h3>
          <h5>Description</h5>
            <h3>{{ item2.description | default('') }}</h3>
          <h5>Additional contact number</h5>
            <h3>{{ item2.contact2 | default('') }}</h3>
          <h5>Place</h5>
            <h3>{{ item2.place | default('') }}</h3>
            <h5>Uploaded Photo</h5>
            <div class="image">
              {% if item2.img1 is not none %}
                  <h3><a href="/image/{{ item2.img1 }}" target="_blank">click here to view the 1st Image</h3>
              {% endif %}

              {% if item2.img2 is not none %}
                <h3><a href="/image/{{ item2.img2 }}" target="_blank">click here to view the 2nd Image</h3>
              {% endif %}

              {% if item2.img3 is not none %}
                <h3><a href="/image/{{ item2.img3 }}" target="_blank">click here to view the 3rd Image</h3>
              {% endif %}

              {% if item2.img4 is not none %}
                <h3><a href="/image/{{ item2.img4 }}" target="_blank">click here to view the 4th Image</h3>
              {% endif %}

              {% if item2.img5 is not none %}
                <h3><a href="/image/{{ item2.img5 }}" target="_blank">click here to view the 5th Image</h3>
              {% endif %}
          </div>
            <button onclick="changeDivContent()" >Edit</button>
        </div>
      {% endfor %}
  </div>

  {% elif item.services in ["Shop"]  %}
    
  <div class="box2">
    {% for item2 in shop %}
    <div id="change">
    <form id="form1" onsubmit="changeDivContent()" action="/userdash/{{ item.sno }}" method='post' enctype="multipart/form-data">
      <h2>Enter the Details</h2>
        <label>Name of the Shop</label>
        <input value="{{ item2.name | default('') }}" type="text" name="name">
        <label for="">Shop type</label>
        <input type="radio" name="shop_type" value="Grocery">
        <label >Grocery</label>
        <input type="radio" name="shop_type" value="Vegetables">
        <label >Vegetables</label>
        <input type="radio" name="shop_type" value="MeatandFish">
        <label >Meat and Fish</label>
        <input type="radio" name="shop_type" value="SuperMarket">
        <label >Super Market</label>
        <input type="radio" name="shop_type" value="Stationary">
        <label >Stationary</label>
        <input type="radio" name="shop_type" value="Textiles">
        <label >Textiles</label>
        <input type="radio" name="shop_type" value="Jewellery">
        <label >Jewellery</label>
        <input type="radio" name="shop_type" value="Sportsitems">
        <label >Sports items</label>
        <input type="radio" name="shop_type" value="Fruits">
        <label >Fruits</label>
        <input type="radio" name="shop_type" value="Bakery">
        <label >Bakery</label>
        <input type="radio" name="shop_type" value="BookShop">
        <label >Book Shop</label>
        <input type="radio" name="shop_type" value="PetShop">
        <label >Pet Shop</label>
        <input type="radio" name="shop_type" value="Flower/PlantShop">
        <label >Flower/Plant Shop</label>
        <label>Location Details(Link of Google Map)</label>
        <input value="{{ item2.location | default('') }}" type="text" name="location">
        <label>Description</label>
        <input value="{{ item2.description | default('') }}" type="text" name="description">
        <label>Additional contact number</label>
        <input value="{{ item2.contact2 | default('') }}" type="text" name="contact">
        <label>Place</label>
        <input value="{{ item2.place | default('') }}" type="text" name="place">
        <label>Working Time</label>
        <input value="{{ item2.wt | default('') }}" type="text" name="wt">
        <label>Photo</label>
        <input type="file" name="img1" required>

        <button id="click-btn" type="submit">Save Changes</button>
      </form>  
    </div>
      <div id="edit">
        <h2>Details</h2>
        <h5>Name</h5>
          <h3>{{ item2.name | default('') }}</h3>
        <h5>Shop Type</h5>
          <h3>{{ item2.shop_type | default('') }}</h3>
        <h5>Location Details</h5>
          <h3>{{ item2.location | default('') }}</h3>
        <h5>Description</h5>
          <h3>{{ item2.description | default('') }}</h3>
        <h5>Additional contact number</h5>
          <h3>{{ item2.contact2 | default('') }}</h3>
        <h5>Place</h5>
          <h3>{{ item2.place | default('') }}</h3>
        <h5>Working Time</h5>
          <h3>{{ item2.wt | default('') }}</h3>
          {% if item2.img1 is not none %}
          <h5>Uploaded Photo</h5>
          <h3><a href="/image/{{ item2.img1 }}" target="_blank">click here to view image 
          </a> </h3>    
          {% endif %}
          <button onclick="changeDivContent()" >Edit</button>
      </div>
    {% endfor %}
</div>

  {% elif item.services == "Spices outlet" %}
  <div class="box2">
    {% for item3 in spices %}
    <div id="change">
    <form id="form3" onsubmit="changeDivContent()" action="/userdash/{{ item.sno }}" method='post' enctype="multipart/form-data">
      <h2>Enter the Details</h2>
        <label>Name of The Shop</label>
        <input value="{{ item3.name | default('') }}" type="text" name="shop" id="namespice">

        <label>Location Details</label>
        <input value="{{ item3.location | default('') }}" type="text" name="loc" id="locationspice">

        <label>Additional contact number</label>
        <input value="{{ item3.contact2 | default('') }}" type="text" name="contact2" id="contact2spice">

        <label>Photo of the shop</label>
        <input type="file" name="img">

        <button type="submit" onclick="deleteSessionData()">Save Changes</button>  
      </form>
    </div>
    <div id="edit">
      <h2>Details</h2>
      <h5>Name of Shop</h5>
      <h3>{{ item3.name | default('') }}</h3>
      <h5>Location Details</h5>
      <h3>{{ item3.location | default('') }}</h3>
      <h5>Additional contact number</h5>
      <h3>{{ item3.contact2 | default('') }}</h3>
      {% if item3.img is not none %}
      <h5>Uploaded Photo</h5>
      <h3><a href="/image/{{ item3.img }}" target="_blank">click here to view the picture
      </a> </h3>       
      {% endif %}
      <h5>Added Spices</h5>
      {% for item4 in prod %}
      {% if item4.details_id == item3.local_id and item4.product is not none and item4.price is not none%}
      <h3>{{ item4.product | default('') }} : {{ item4.price | default('') }}</h3>
      {% endif %}
    
    {% endfor %}
      <div class="butt">
        <button onclick="changeDivContent()" >Edit</button>
        <button ><a class="editspices" href="/addspiceproduct/{{ item3.details_id }}" onclick="saveForm()">Add Spices</a></button>
      </div>
    </div>
    {% endfor %}
  </div>
         
{% elif item.services == "plantation"  %}
  <div class="box2">
    {% for item4 in plant %}
    <div id="change">
    <form id="form4" onsubmit="changeDivContent()" action="/userdash/{{ item.sno }}" method='post' enctype="multipart/form-data">
      <h2>Enter the Details</h2>
        <label>Name of The Plantation</label>
        <input value="{{ item4.name | default('') }}" type="text" name="name">
        <label>Address</label>
        <input value="{{ item4.address | default('') }}" type="text" name="address">
        <label>Location Details</label>
        <input value="{{ item4.location | default('') }}" type="text" name="location">
        <label>Additional contact number</label>
        <input value="{{ item4.contact | default('') }}" type="text" name="contact">
        <label>Type of Plantations</label>
        <input value="{{ item4.Crops | default('') }}" type="text" placeholder="Use comma if more than one" name="Crops">
        <label>Photo of the Plantation</label>
        <input type="file" name="img">
        <button type="submit">Save Changes</button>  
      </form>
    </div>
    <div id="edit">
      <h2>Details</h2>
      <h5>Name of Plantation</h5>
        <h3>{{ item4.name | default('') }}</h3>
        <h5>Address</h5>
        <h3>{{ item4.location | default('') }}</h3>
      <h5>Location Details</h5>
        <h3>{{ item4.location | default('') }}</h3>
      <h5>Additional contact number</h5>
        <h3>{{ item4.contact | default('') }}</h3>
      <h5>Type of Plantations</h5>
        <h3>{{ item4.Crops | default('') }}</h3>
        {% if item4.img1 is not none %}
        <h5>Uploaded Photo</h5>
        <h3><a href="/image/{{ item4.img }}" target="_blank">click here to view the picture
        </a></h3>        
        {% endif %}
        <button onclick="changeDivContent()" >Edit</button>
    </div>
    {% endfor %}
  </div>


  {% elif item.services == "Pharmacy Store"  %}
  <div class="box2">
    {% for item5 in pharma %}
    <div id="change">
    <form id="form4" onsubmit="changeDivContent()" action="/userdash/{{ item.sno }}" method='post' enctype="multipart/form-data">
      <h2>Enter the Details</h2>
        <label>Name of The Pharmacy Store</label>
        <input value="{{ item5.name | default('') }}" type="text" name="name">
        <label>Address</label>
        <input value="{{ item5.address | default('') }}" type="text" name="address">
        <label>Location Details</label>
        <input value="{{ item5.location | default('') }}" type="text" name="location">
        <label>Additional contact number</label>
        <input value="{{ item5.contact | default('') }}" type="text" name="contact">
        <label>Type (Homeo,English, Ayurveda, Other)</label>
        <input value="{{ item5.Crops | default('') }}" type="text" placeholder="Use comma if more than one" name="type">
        <label>Photo of the Shop</label>
        <input type="file" name="img">
        <button type="submit">Save Changes</button>  
      </form>
    </div>
    <div id="edit">
      <h2>Details</h2>
      <h5>Name of The Pharmacy Store</h5>
        <h3>{{ item5.name | default('') }}</h3>
        <h5>Address</h5>
        <h3>{{ item5.location | default('') }}</h3>
      <h5>Location Details</h5>
        <h3>{{ item5.location | default('') }}</h3>
      <h5>Additional contact number</h5>
        <h3>{{ item5.contact | default('') }}</h3>
      <h5>Type (Homeo,English, Ayurveda, Other)</h5>
        <h3>{{ item5.Crops | default('') }}</h3>
        {% if item5.img1 is not none %}
        <h5>Uploaded Photo</h5>
        <h3><a href="/image/{{ item5.img }}" target="_blank">click here to view the picture
        </a></h3>        
        {% endif %}
        <button onclick="changeDivContent()" >Edit</button>
    </div>
    {% endfor %}
  </div>
  
</div>
    {% endif %}
  {% endfor %}

    <script type="text/javascript">
      function changeDivContent() {
          document.getElementById('change').style.display = 'block';
          document.getElementById('edit').style.display = 'none';
      }
      window.onload = function() {
        const savedname = sessionStorage.getItem('savedname');
        const savedlocation = sessionStorage.getItem('savedlocation');
  
        if (savedname && savedlocation) {
          document.getElementById('name').value = savedname;
          document.getElementById('location').value = savedlocation;
        }
      }
  
      function saveForm() {
        const name = document.getElementById('namespice').value;
        const location = document.getElementById('locationspice').value;
        const contact = document.getElementById('contact2spice').value;
  
        sessionStorage.setItem('savedname', name);
        sessionStorage.setItem('savedlocation', location);
        sessionStorage.setItem('savedcontact', contact);
  
      };
      function deleteSessionData() {
        sessionStorage.removeItem('savedname');
        sessionStorage.removeItem('savedlocation');
        sessionStorage.removeItem('savedcontact');

      }
  </script>
    
</body>

</html>


