
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='CSS/userdash/userdash.css') }}"
  />
    <title>Pallivasal</title>
    <link
    rel="icon"
    href="{{url_for('static',filename='images/logo.png')}}"
    type="image/icon type"
  /> 

  <script type="text/javascript">
    function addChild() {
      document.getElementById("form11").style.display = "block";
    }
    // function addprod() {
    //   document.getElementById("box3").style.display = "block";
    // }
  </script>
</head>

<body>
  
    {% for item in list %}
    <div class="box">
    <div class="box1">
        <h2>{{ item.services }}</h2>
            {% if item.services == "Carpentary works" %}
            <img
              src="{{url_for('static',filename='images/carpenter.png')}}"
              alt="Carpenter icon"
            />
            {% endif %} {% if item.services == "Plumbing services" %}
            <img
              src="{{url_for('static',filename='images/plumber.jpeg')}}"
              alt="Plumber icon"
            />
            {% endif %} {% if item.services == "Electrical works" %}
            <img
              src="{{url_for('static',filename='images/electrical.jpeg')}}"
              alt="Carpenter icon"
            />
            {% endif %}
            {% if item.services == "Home stay" %}
            <img
              src="{{url_for('static',filename='images/electrical.jpeg')}}"
              alt="Carpenter icon"
            />
            {% endif %}
        <h5>User Name</h5>
        <h3>{{ item.name }}</h3>
        <h5>Contact Number</h5>
        <h3>{{ item.contact }}</h3>
        <h5>E-mail</h5>
        <h3>{{ item.email }}</h3>
        <h5>Address</h5>
        <h3>{{ item.address }}</h3>
    </div>
    {% if item.services in ["Jeep safari" , 'Taxi service' , 'Bike Rental' , "Auto Rickshaw" , 'Car Rental']  %}
    <div style="display: block;" class="box2">
        <form>
            <label>Cost </label>
            <input type="text">
            <label>Trip available</label>
            <input type="text">
            <label>Pick up and Drop</label>
            <input type="text">
            <label>Duration</label>
            <input type="text">
            <label>vehicle</label>
            <input type="text">
            <label>No. of Persons Allowed</label>
            <input type="text">
            <label>Trip available</label>
            <input type="text">
            <label>Things to carry</label>
            <input type="text">
            <label>Photo of vehicle</label>
           <input type="file" name="img">
            <button>Save Changes</button>         
    </div>
    <div id="edit"  class="box2">
      <h5>Cost of Jeep Safari</h5>
      <h3>{{ item.name }}</h3>
    <h5>Trip available</h5>
      <h3>{{ item.name }}</h3>
    <h5>Pick up and Drop</h5>
      <h3>{{ item.name }}</h3>
    <h5>Duration</h5>
      <h3>{{ item.name }}</h3>
    <h5>vehicle</h5>
      <h3>{{ item.name }}</h3>
    <h5>No. of Persons Allowed</h5>
      <h3>{{ item.name }}</h3>
    <h5>Trip available</h5>
      <h3>{{ item.name }}</h3>
    <h5>Things to carry</h5>
      <h3>{{ item.name }}</h3>


        <!-- <button>Edit</button> -->
    </div>
  {% elif item.services in ["Carpentary works" , 'Plumbing services' , 'Electrical works']  %}
    <div id="save" class="box2">

        <form id="form1" action="/userdash/{{ item.sno }}" method='post'>
          <label>Whatsapp Number</label>
          <input type="text" name="whatsapp">
          <label>Year of Experience</label>
          <input type="text" name="exp">
          <label>Technical Qualification, if any</label>
          <input type="text" name="technical">
          <label>Remuneration Detais</label>
          <input type="text" name="remuneration">
          <label>Area of Specification</label>
          <input type="text" name="specification">
          <label>Photo of your work</label>
          <input type="file" name="img">
          <button id="btn" >Save Changes</button>
          
        </form>
    </div>
    
    <div id="edit"  class="box2">
      <h2>Details</h2>
      <h5>Whatsapp Number</h5>
        <h3>{{ item.name }}</h3>
      <h5>Year of Experience</h5>
        <h3>{{ item.name }}</h3>
      <h5>Technical Qualification, if any</h5>
        <h3>{{ item.name }}</h3>
      <h5>Remuneration Detais</h5>
        <h3>{{ item.name }}</h3>
      <h5>Area of Specification</h5>
        <h3>{{ item.name }}</h3>

        <!-- <button>Edit</button> -->
    </div>
     
    {% elif item.services in ["Home stay" , "Resorts" , "Tent Camping" , "Dormitories" ]  %}

    <div class="box2">
      <div id="change">
      <form id="form2" action="/userdash/{{ item.sno }}" method='post' enctype="multipart/form-data">
        
        <h2>Enter the Details</h2>
          <label>Name of Homestay</label>
          <input type="text" name="name">
          <label>Location Details</label>
          <input type="text" name="location">
          <label>Property description</label>
          <input type="text" name="description">
          <label>Additional contact number</label>
          <input type="text" name="contact">
          <label>Host information</label>
          <input type="text" name="host">
          <label>Facilities</label>
          <input type="text" name="facilities">
          <label>No. of Rooms</label>
          <input type="text" name="rooms">
          <label>Services</label>
          <input type="text" name="services">
          <label>Photo of Homestay</label>
          <input type="file" name="img1">
      
       
        </form>  </div>
        <div id="edit">
          <h2>Details</h2>
          <h5>Name of Homestay</h5>
            <h3>{{ item.name }}</h3>
          <h5>Location Details</h5>
            <h3>{{ item.name }}</h3>
          <h5>Property description</h5>
            <h3>{{ item.name }}</h3>
          <h5>Additional contact number</h5>
            <h3>{{ item.name }}</h3>
          <h5>Host information</h5>
            <h3>{{ item.name }}</h3>
          <h5>Facilities</h5>
            <h3>{{ item.name }}</h3>
          <h5>No. of Rooms</h5>
            <h3>{{ item.name }}</h3>
          <h5>Services</h5>
            <h3>{{ item.name }}</h3>
      
            <!-- <button>Edit</button> -->
        </div>
        <button id="click-btn" onclick="myFunction()">Save Changes</button>
        
  </div>

  


  {% elif item.services == "Spices outlet"  %}
  <div style="display: block;" class="box2">
    <form id="form3" action="/userdash/{{ item.sno }}" method='post' enctype="multipart/form-data">
        <label>Name of The Shop</label>
        <input type="text" name="shop">

        <label>Location Details</label>
        <input type="text" name="loc">

        <label>Additional contact number</label>
        <input type="text" name="contact2">

        <label>Photo of the shop</label>
        <input type="file" name="img">
        
        <button >Save Changes</button>  
        <!-- onclick="addprod();" -->
      
    </form>
    <div class="box3" id="box3">
      <div class="cards mx-auto">
        <p id="addplace">Add Spices</p>
        <!-- <a href="" onclick="showForm()"><img class="addbut" src="images/plus.png" alt=""></a> -->
        <img
          src="{{url_for('static',filename='images/plus.png')}}"
          class="addbut"
          value="Add Child"
          onclick="addChild();"
        />
      </div>

      <form id="form11" action="/addspiceproduct/{{ item.sno }}" method="post" enctype="multipart/form-data">
        <label for="">Select the Spice : </label>
              <select id="spice" name="product">
                <option value="Cardmom">Cardmom</option>
                <option value="Turmeric">Turmeric</option>
                <option value="Cinamon">Cinamon</option>
                <option value="Pepper">Pepper</option>
              </select>
              <br><br>
              <label>Price</label>
              <input type="text" name="price" placeholder="₹">
              <!-- <br /> -->
              <!-- <button>Submit</button>   -->
              <input type="submit" value="Submit">
            </form>
            
          </div>
          
        </div>
            <div id="edit"  class="box2">
              <h2>Details</h2>
              <h5>Name of Shop</h5>
                <h3>{{ item.name }}</h3>
              <h5>Location Details</h5>
                <h3>{{ item.location }}</h3>
              <h5>Additional contact number</h5>
                <h3>{{ item.contact2 }}</h3>
          
                <!-- <button>Edit</button> -->
            </div>
{% elif item.services == "plantation"  %}
  <div style="display: block;" class="box2">
    <form action="/userdash/{{ item.sno }}" method='post' enctype="multipart/form-data">
        <label>Name of The Plantation</label>
        <input type="text" name="name">
        <label>Address</label>
        <input type="text" name="address">
        <label>Location Details</label>
        <input type="text" name="location">
        <label>Additional contact number</label>
        <input type="text" name="contact">
        <label>Type of Plantations</label>
        <input type="text" placeholder="Use comma if more than one" name="Crops">
        <label>Photo of the Plantation</label>
        <input type="file" name="img">
        <button>Save Changes</button>  
      </form>
</div>



    </div>
    
    {% endif %}
    {% endfor %}
    
    <script>
      function myFunction() {
      
      var btn = document.getElementById("click-btn");
      var x = document.getElementById("change");
      var y = document.getElementById("edit");
      if (x.style.display === "block") {
        y.style.display = "block";
        x.style.display = "none";
        btn.innerHTML='Edit';
        // document.getElementById("form2").submit();
        
      } else {
        y.style.display = "none";
        x.style.display = "block";
        btn.innerHTML='Save Changes';
        
      }
    }
    </script>
</body>

</html>


