<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='CSS/localworkforce/localworkforce.css') }}"
    />
    {% for item in list %}
    <title>{{ item.name }}</title>
    {% endfor %}
    <link
      rel="icon"
      href="{{url_for('static',filename='images/logo.png')}}"
      type="image/icon type"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/f5cbf694f9.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body style="width: 100%; height: 100%; background-size: cover">
    <div class="cnt">
      <div class="container">
        <div class="row">
          <div class="parentv">
            <div class="bor">
              
<!--  jeep sari , car rental etc-->
              <div class="childv">
                {% if list1.img is not none %}
                  {% set fname = 'uploads/' + list1.img %}  
                  <img src="{{ url_for('static',filename=fname) }}" class="asd">
                {% else %}
                  <img src="/static/images/bg.jpg" alt="">
                {% endif %}
                <h5>Name of the Driver: {{ list[0].name }}</h5>
                <h5>Cost : {{ list1.cost }}</h5>
                <h5>Trip available : {{ list1.Trip_available }}</h5>
                <h5>Pick up and Drop : {{ list1.Pick_up_and_Drop }}</h5>
                <h5>Duration : {{ list1.Duration }}</h5>
                <h5>Vehicle : {{ list1.vehicle }}</h5>
                <h5>No. of persons allowed : {{ list1.no_of_persons }}</h5>
                <h5>Things to carry : {{ list1.Things_to_carry }}</h5>
                
                {% if list[0].services is not none %}
                  <a id="atag" href="/transport_view/{{ list[0].services }}"
                    >Back to previous</a>
                {% endif %}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
